@import '../../_variables.scss';
:host {
  display: block;
}

.btn-outline-success {
  &:hover {
    background-color: transparent;
    border-color: $primary;
    color: $primary;
  }
}

.card {
  border-radius: 0;
  border: none;
}

.jumbotron {
  height: 800px;
  padding: 0em 0em;
  width: 100%;
  background-color: #efefef;
  margin-bottom: 4em;
}

.spotlight {
  background-image: url('../../assets/images/jump.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  height: 100%;
  .splash-text {
    margin-top: 2em;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px 25px;
    h1 {
      font-weight: 700;
      color: $primary;
    }
  }
}

.team-section {
  margin-top: 72px;
  margin-bottom: 5em;
  .carousel-window {
    height: 610px;
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    .scroll-button {
      position: absolute;
      background-color: $secondary;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      border-width: 0px;
      box-shadow: $shadow;
      cursor: pointer;
      z-index: 1;
      i {
        color: #fff;
        vertical-align: middle;
        font-size: 72px;
        transform: scaleX(-1);
      }
    }
    .carousel-roll {
      padding-left: 30px;
      height: 100%;
      white-space: nowrap;
      transition: all .5s ease-in-out;
      .carousel-image {
        margin: 0 10px;
        vertical-align: top;
        width: 283px;
        height: 500px;
        display: inline-block;
        img {
          width: auto;
          height: 85%;
        }
        img:nth-of-type(1) {
          display: block;
        }
        img:nth-of-type(2) {
          display: none;
        }
        &:hover {
          img:nth-of-type(1) {
            display: none;
          }
          img:nth-of-type(2) {
            display: block;
          }
        }
        h5 {
          color: $primary;
          margin-top: .5em;
        }
        p {
          white-space: normal;
          font-weight: 300;
        }
      }
    }
  }
  .btn {
    margin-top: 1.5em;
  }
}

.section-container {
  margin-top: -40px;
  .illustration {
    position: absolute;
    z-index: 1000;
    top: -10px;
  }
  * {
    color: #fff;
    border-color: #fff;
    &:hover {
      border-color: $secondary;
    }
  }
  height: 750px;
  width: 100%;
  overflow: hidden;
  position: relative; // margin-top: 10em;
  margin-bottom: 4em;
  display: flex;
  align-items: flex-end;
  .block {
    .text-block {
      position: absolute;
      padding-top: 35px;
      z-index: 10;
      top: -200px;
      right: 125px;
      .underline {
        background-color: #fff;
      }
      .light {
        font-weight: 300;
      }
    }
    width: 100%;
    height: 250px;
    background: $primary;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    &:after {
      content: "";
      background: $primary;
      width: 150%;
      margin-right: -35%;
      height: 600px;
      position: absolute; //   top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      transform: rotate(-10deg);
      transform-origin: 52.5% 100%;
      backface-visibility: hidden;
    }
  }
  .btn-outline-success {
    &:hover {
      background-color: transparent;
      color: $secondary;
      border-color: $secondary;
    }
  }
}

.friends {
  margin: 8px 0;
  padding: 3em 0;
  text-align: center;
  .colored {
    img {
      width: 100%;
      margin-top: 3rem;
      &:nth-of-type(1) {
        display: block;
      }
      &:nth-of-type(2) {
        display: none;
      }
    }
    .verisign {
      text-align: center;
      width: 60% !important;
      &:hover {
        img:nth-of-type(1) {
          display: none;
        }
        img:nth-of-type(2) {
          display: block;
        }
      }
    }
    &:hover {
      img:nth-of-type(1) {
        display: none;
      }
      img:nth-of-type(2) {
        display: block;
      }
    }
  }
}

.quote {
  color: $secondary;
  font-size: 1.5em;
}

#what-we-do {
  @mixin on-circle($item-count,
  $circle-size,
  $item-size) {
    position: relative;
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    padding: 0;
    list-style: none;
    >* {
      display: block;
      position: absolute; // padding: 15px;
      top: 50%;
      left: 50%;
      margin: -($item-size / 2);
      width: 6em;
      background-color: #fff;
      border-radius: 100%;
    }
  }
  .circle-container {
    @include on-circle($item-count: 8, $circle-size: 25em, $item-size: 6em);
    margin: auto;
    border: solid 4px $secondary;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    #idea {
      transform: rotate(0deg) translate(10em) rotate(0deg);
      width: 125px;
      margin-left: -1.5em;
    }
    #design {
      transform: rotate(90deg) translate(12.5em) rotate(-90deg);
    }
    #dev {
      transform: rotate(270deg) translate(12em) rotate(-270deg);
      h6 {
        background-color: #fff;
        text-align: center;
        padding-bottom: 10px;
        font-weight: 300;
      }
    }
    #mngt {
      transform: rotate(180deg) translate(10em) rotate(180deg);
      width: 150px;
      margin-left: -7em;
    }
    h6 {
      background-color: #fff;
      text-align: center;
      padding-bottom: 5px;
      white-space: nowrap;
      font-weight: 300;
    }
    img {
      display: block;
      max-width: 6em;
      border: solid 0px #fff;
      transition: .15s;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 20px;
    }
  }
  .expertise {
    margin-top: 1em;
    h5 {
      text-align: left;
      padding-left: 15px;
    }
  }
}

button:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.grid {
  padding: 15px 15px 60px 15px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
}

img {
  width: 100%;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .8);
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */

.close {
  color: white;
  position: absolute;
  top: 75px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  background-color: black;
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  i {
    color: rgba(255, 255, 255, .8);
    font-size: 75px;
  }
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, .3);
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: $font-family-base;
}

@media only screen and (min-width: 725px) and (max-width: 990px) {
  .section-container {
    .block {
      .text-block {
        top: -180px;
        right: 0px; // font-size: 14px;
      }
    }
  }
  .grid {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1450px) {
  .section-container {
    .block {
      .text-block {
        top: -270px;
        right: 0px; // font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: 1451px) {
  .section-container {
    .block {
      .text-block {
        top: -220px;
        right: 0px; // font-size: 14px;
      }
    }
  }
}

//media queries take 2 
@media only screen and (min-width: 200px) and (max-width: 724px) {
  .jumbotron {
    height: 400px;
    margin-bottom: 4em;
    .splash-text {
      margin-top: .5em;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 10px 15px;
      h1 {
        font-size: 36px;
      }
      h2 {
        font-size: 18px;
      }
      .btn {
        display: none;
      }
    }
  }
  #what-we-do {
    margin-bottom: 0em;
    padding: 0px 15px;
    .circle-container {
      width: 15rem;
      height: 15rem;
      img {
        padding: 10px 25px;
      }
      #idea {
        margin-left: -6.5em;
      }
      #design {
        transform: rotate(90deg) translate(7.5em) rotate(-90deg);
      }
      #dev {
        transform: rotate(270deg) translate(7em) rotate(-270deg);
      }
      #mngt {
        margin-left: -2em;
      }
      margin-bottom: 5rem;
      margin-top: 3rem;
    }
  }
  .section-container {
    .block {
      .text-block {
        top: -220px;
        right: 0px;
        font-size: 14px;
      }
    }
  }
  .grid {
    grid-template-columns: auto;
  }
  #myModal {
    display: none !important;
  }
}