<div class="jumbotron jumbotron-fluid">
  <div class="spotlight">
    <div class="row text-fix">
      <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-4 col-lg-5 offset-lg-7 splash-text">
        <h1 class="display-4">Leap of Faith</h1>
        <h2> Leap Forward &amp; Innovate. <br />Our Success Built on Customer &amp; Employee Trust</h2>
        <!-- <h2>Luck is where the crossroads of opportunity and preparation meet.</h2> -->
        <button class="btn btn-outline-secondary primary" (click)="scrollToElement(whatwedo)">THE EAI WAY</button>
      </div>
    </div>
  </div>
</div>

<!-- WHAT WE DO -->
<div id="what-we-do" #whatwedo>
  <div class="row justify-content-center">
    <div class="col-sm-6 text-center">
      <h3>THE EAI WAY</h3>
      <div class="underline"></div>
      <div class="row justify-content-center">

      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
      <div class="row align-items-center">
        <div class="col-xl-5 col-md-12 expertise  order-sm-1 order-xl-1">
          <p>We are a Boutique Software Development Firm that spends time to learn about our customers, their businesses and what drives them. In close
            collaboration, we listen,
            sketch, prototype, adjust, and build until it's right. We are not perfect, but keep going until it is perfect in the eyes of our customers.</p>
          <p>We are all about delivering at a fixed price to meet a project deadline or make launch on time. This happens by us taking the risk while being
            flexible, iterating early/often, and having a continuous
            communication stream with the end users/business owners.</p>
          <!-- </div> -->
          <!-- <div class="row align-items-center"> -->
          <!-- <div class="col-xl-5 col-md-12 expertise pl-0 order-sm-2 order-xl-1"> -->
          <h3 class="quote">Our expertise and skills are not limited to a particular niche or industry.</h3>
          <!-- <p>Recently though, we have done well in 3 areas.</p> -->
        </div>
        <div class="col-xl-7 col-md-12 pr-0 order-sm-2 order-xl-2">
          <ul class="circle-container">
            <li id="idea">
              <img src="./assets/images/site-map.png">
              <h6>Product Design</h6>
            </li>
            <li id="design">
              <img src="./assets/images/settings-gears.png">
              <h6>Development</h6>
            </li>
            <li id="dev">
              <img src="./assets/images/light-bulb.png">
              <h6>Idea Conception</h6>
            </li>
            <li id="mngt">
              <img src="./assets/images/collaboration.png">
              <h6>Product Management</h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- WHAT WE BELIEVE IN  -->
<div class="section-container">

  <div class="illustration col-sm-5 offset-sm-1 col-md-6 offset-md-3 col-lg-5 offset-lg-1">
    <img src="../../assets/images/laptopandbook.png" class="img-fluid" alt="Responsive image">
  </div>

  <div class="block">
    <div class="row">
      <div class="col-xs-12 col-lg-5 offset-lg-6 col-sm-10 offset-sm-2 text-block pr-5">
        <h3 class="quote">WHAT WE BELIEVE IN</h3>
        <div class="underline ml-5"></div>
        <p> It's personal - we have always operated like a family, the EAI Family. Our clients become our friends from the amount of time we spend with them to
          understand
          their business needs so we get to know them personally as well. Everyone at EAI gets treated like a family member with open arms and tough love. It's
          a mix of camaraderie and working hard as peers that contributes to how we roll.
        </p>
        <p>We put some of our money where our hearts are with some outreach programs, community and family projects. These include International Medical Health
          Organization (IMHO), New
          Opportunities for Wounded, Widows, Orphans of War (NOWOW), People For Equality and Relief in Sri
          Lanka (PEARL), as well as Yarl IT Hub.
        </p>
        <!-- <button class="btn btn-outline-secondary" [routerLink]="'/ceo-message'">V's VIEW</button> -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="row justify-content-center">
  <div class="card-deck col-10">
    <div class="card expert-area mb-3 border-left">
      <h6>CYBER SECURITY</h6>
      <p>Ranging from building DDoS portals to integrating threat intelligence services.</p>
    </div>
    <div class="card expert-area mb-3 border-left">
      <h6>AD TARGETING</h6>
      <p>Covering customer segmentation and taxonomy to campaign management and metrics.</p>
    </div>
    <div class="card expert-area mb-3 border-left">
      <h6>LOGISTICS</h6>
      <p>Bringing the disparate service providers visibility, tracking and/or processing application to facilitate efficient operation.</p>
    </div>
  </div>
</div> -->

<!-- OUR FRIENDS -->
<div class="row justify-content-center friends">
  <div class="col-sm-5 text-center">
    <h3>SOME OF OUR FRIENDS</h3>
    <div class="underline"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-2 col-sm-4 col-xs-12 mx-3 colored" *ngFor="let logo of clientLogos">
          <img src="{{ logo.url }}" alt="{{ logo.alt }}" class="w-100 {{ logo.id }}">
          <img src="{{ logo.hover }}" alt="{{ logo.alt }}" class="w-100 {{ logo.id }}">
        </div>
      </div>
      <div class="row justify-content-center">
        <h3 class="quote">We have a 100% customer reference base - not because we are perfect but because we work on it until it is.</h3>
      </div>
    </div>
  </div>
</div>
<!-- GET TO KNOW US -->
<div class="row justify-content-center team-section">
  <div class="col-sm-5 text-center">
    <h3>GET TO KNOW US</h3>
    <div class="underline"></div>
  </div>
  <!-- CAROUSEL -->
  <!-- WINDOW -->
  <div class="col-12 carousel-window">
    <!-- SCROLL BUTTON -->
    <button class="scroll-button" (click)="scrollCarousel($event, 1)">
      <!-- <button class="scroll-button" (click)="carousel(roll)"> -->
      <i class="material-icons">
        arrow_left
      </i>
    </button>
    <!-- SCROLL -->
    <div class="carousel-roll" #roll>
      <div class="carousel-image px-2" *ngFor="let member of members; let i = index" id="image-{{i}}">
        <img src="{{ member.url }}">
        <img src="{{ member.hover }}">
        <h5>{{ member.name }}</h5>
        <p>{{ member.fact }}</p>
      </div>
    </div>
  </div>


  <div class="row justify-content-center ">
    <button class="btn btn-outline-secondary" [routerLink]="'/open-positions'">JOIN US</button>
  </div>
</div>



<div class="grid">
  <img src="../../assets/images/gallery-1.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  <img src="../../assets/images/gallery-3.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  <img src="../../assets/images/gallery-2.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  <img src="../../assets/images/priyal-hack.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  <img src="../../assets/images/gallery-7.jpg" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
  <img src="../../assets/images/gallery-6.jpg" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
  <img src="../../assets/images/gallery-5.jpg" onclick="openModal();currentSlide(7)" class="hover-shadow cursor">
  <img src="../../assets/images/gallery-8-small.jpg" onclick="openModal();currentSlide(8)" class="hover-shadow cursor">
  <img src="../../assets/images/moh-rubin.jpg" onclick="openModal();currentSlide(9)" class="hover-shadow cursor">
  <img src="../../assets/images/alan.jpg" onclick="openModal();currentSlide(10)" class="hover-shadow cursor">
  <img src="../../assets/images/gallery-122.jpg" onclick="openModal();currentSlide(11)" class="hover-shadow cursor">
  <img src="../../assets/images/group-gallery.jpg" onclick="openModal();currentSlide(12)" class="hover-shadow cursor">
</div>
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()"><i class="material-icons">
      close
    </i></span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 12</div>
      <img src="../../assets/images/gallery-1.jpg">
    </div>

    <div class="mySlides">
      <div class="col-sm-12">
        <div class="numbertext">2 / 12</div>
        <img src="../../assets/images/gallery-2.jpg">
      </div>
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 12</div>
      <img src="../../assets/images/gallery-3.jpg">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 12</div>
      <img src="../../assets/images/gallery-4.jpg">
    </div>


    <div class="mySlides">
      <div class="numbertext">5 / 12</div>
      <img src="../../assets/images/gallery-5.jpg">
    </div>
    <div class="mySlides">
      <div class="numbertext">6 / 12</div>
      <img src="../../assets/images/gallery-6.jpg">
    </div>
    <div class="mySlides">
      <div class="numbertext">7 / 12</div>
      <img src="../../assets/images/gallery-7.jpg">
    </div>
    <div class="mySlides">
      <div class="row justify-content-center">
        <div class="col-sm-5">
          <div class="numbertext">8 / 12</div>
          <img src="../../assets/images/gallery-8.jpg">
        </div>
      </div>
    </div>

    <div class="mySlides">
      <div class="numbertext">9 / 12</div>
      <img src="../../assets/images/gallery-9.jpg">
    </div>
    <div class="mySlides">
      <div class="numbertext">10 / 12</div>
      <img src="../../assets/images/gallery-10.jpg">
    </div>

    <div class="mySlides">
      <div class="numbertext">11 / 12</div>
      <img src="../../assets/images/gallery-11.jpg">
    </div>
    <div class="mySlides">
      <div class="numbertext">12 / 12</div>
      <img src="../../assets/images/gallery-12.jpg">
    </div>

    <a class="prev" onclick="plusSlides(-1)"><i class="material-icons">
        keyboard_arrow_left
      </i>
    </a>
    <a class="next" onclick="plusSlides(1)"><i class="material-icons">
        keyboard_arrow_right
      </i>
    </a>
  </div>
</div>
