@import '../_variables.scss';
:host {
  display: block;
}

footer,
router-outlet {
  font-family: $font-family-base;
}

.nav-top {
  background-color: rgb(255, 255, 255);
  color: $neutral-dark;
  border-bottom: 1px solid $secondary;
  .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    img {
      height: 50px;
      opacity: 1;
    }
  }
  li {
    a {
      color: $neutral-dark
    }
  }
}

footer {
  padding: 2.5em 0 1em 0;
  background-color: $neutral-dark;
  * {
    font-size: $font-size-base;
    color: #fff;
  }
  .logo {
    opacity: .65; // margin-top: 2.5em;
    height: 40px;
  }
  nav,
  p {
    opacity: .65;
  }
  li {
    display: inline-block;
    padding: 5px 10px;
  }
}