<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
  crossorigin="anonymous">
<nav class="navbar sticky-top nav-top navbar-expand-lg justify-content-between">
  <a class="navbar-brand px-0" href="#">
    <img src="./assets/images/logo.png" alt="Logo">
  </a>

  <div class="collapse navbar-collapse justify-content-end col-xl-6 pr-0" id="navbarNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/landing'">HOME
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- <li class="nav-item"> -->
      <!-- <a class="nav-link" [routerLink]="'/ceo-message'">V's VIEW</a> -->
      <!-- </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/open-positions'">JOIN US</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="row justify-content-center">
    <div class="col-sm-2 text-center">
      <img class="logo" src="./assets/images/white-logo.png" alt="Logo">
    </div>
  </div>

  <nav class="navbar navbar-expand-lg justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href='#'>HOME
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="'/ceo-message'">V'S VIEW</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/open-positions'">JOIN US</a>
      </li>
    </ul>
  </nav>


  <div class="row justify-content-center">
    <ul class="col-sm-5 text-center">
      <li>
        <a target="_blank" href="https://www.linkedin.com/company/eai-technologies/">
          <img src="./assets/images/linkedin.png" width="50" alt="LinkedIn">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.facebook.com/eaiti/">
          <img src="./assets/images/facebook.png" width="45" alt="Facebook">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://twitter.com/EAITECH?lang=en">
          <img src="./assets/images/twitter.png" width="50" alt="Twitter">
        </a>
      </li>
    </ul>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 text-center">
      <p>Copyright &copy; 2018 EAI Technologies, LLC. All Rights Reserved.</p>
      <p>1945 Old Gallows Road, Suite 310, Vienna, VA 22182</p>
    </div>
  </div>
</footer>
