/* You can add global styles to this file, and also import other style files */

// FONT FAMILY
$font-family-base: 'purista-web',
sans-serif;
$font-family-headings: 'ff-spinoza-web-pro',
serif;
// FONT SIZE
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 26px;
// COLORS
$primary: #036AAC;
$secondary: #FDB700;
$white: #ffffff;
$black: #000000;
$neutral-dark: #262C30;
$neutral-light: #ECEEF0;
//BOX SHADOW 
$shadow: 0 0.25rem 3rem 0 rgba(0, 0, 0, 0.20);
//CAROUSEL IMAGE
$image-width: 299.89px;
$image-count: 11;