/* You can add global styles to this file, and also import other style files */

@import '_variables.scss';
.pointer {
  cursor: pointer;
}

h1,
h2,
h4,
h5 {
  font-family: $font-family-headings;
  font-weight: 700;
}

h3,
h6 {
  font-family: $font-family-base;
  font-weight: 700;
  padding-bottom: 15px;
}

h2 {
  font-family: $font-family-base;
  font-weight: 300;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.underline {
  height: 4px;
  background-color: $primary;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
}

p,
li,
a,
button,
span {
  font-family: $font-family-base;
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 0px;
  color: #000;
  font-weight: 300;
}

.btn-outline-secondary {
  &:hover {
    background-color: $secondary;
    border-color: $secondary;
  }
}

.primary {
  background-color: rgba($secondary, .7);
  border: 1px solid $secondary;
  color: #fff;
  font-weight: 300;
  &:hover {
    background-color: rgba($primary, .5);
    border: 1px solid $primary;
  }
}

ul {
  list-style: none;
}

.expert-area {
  background-color: lighten($neutral-light, 1%);
  text-align: left;
  padding: 20px 50px; // margin-bottom: 12px;
  // flex-grow: 1;
  h6 {
    font-weight: 300;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
  p {
    margin-bottom: 0px;
  }
}

// .side-area {
//   position: absolute;
//   right: 0%;
//   border: 3px solid $secondary;
//   color: $secondary;
//   transform: rotate(90deg) translate(0% , -130%);
//   padding: .28rem; 
// }
.border-left {
  border-left: 5px solid $secondary !important;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.decoration {
  height: 25px;
  margin-top: 8em;
  width: 70%;
  background-color: rgba($secondary, .7);
}

footer {
  .nav-link {
    text-align: center;
  }
}