@import '../../_variables.scss';
:host {
  display: block;
}

.jumbotron {
  background-color: transparent;
  margin-bottom: 0px;
  h1 {
    font-weight: 700;
    color: $primary;
  }
}

.form {
  border: none;
  height: 0;
  transition: height 0.5s linear;
  &.expand {
    height: 500px;
  }
}

.apply {
  cursor: pointer;
  &:hover {
    .underline {
      width: 100%;
    }
  }
  .underline {
    transition: width 0.2s linear;
    &.expand {
      width: 100%;
    }
  }
}

.open-positions {
  h6 {
    padding: 0px;
  }
}