<div class="jumbotron jumbotron-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-7 splash-text text-center">
      <h1 class="display-4">
        We have created a welcoming &amp; cool culture at EAI by valuing all personalities, ethnicities, and lifestyles.
      </h1>
      <!-- <h1 class="display-4">We treat our company like a family, complete with the trust &amp; support that accompanies that idea</h1> -->
    </div>
  </div>
</div>

<div class="row justify-content-center mb-5 open-positions">
  <div class="col-sm-12 col-lg-10">
    <div class="row">
      <div class="col-sm-12 col-lg-6 text-block text-right">
        <h3>OPEN POSITIONS</h3>
        <div class="underline mr-4"></div>
        <div class="row justify-content-end">
          <p>
            If you are intellectually curious, like to inspire/innovate, and be part of a collaborative team, then bring your happy attitude, learning
            aptitude, and creativity
            for solving technical and business challenges to EAI.</p>
          <!-- <p>We are extremely diverse and employ talents from more than seven different nationalities. We are always on the lookout for fantastic coders, developers,
            designers, managers and test engineers.</p> -->
          <h6 class="col-sm-5">Know great people?</h6>
          <p>Refer your favorite developers, designers, or managers to us <br> and get $2,500 and the latest &reg;Apple iPad Air!</p>
        </div>



      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="d-flex align-items-center mb-3" *ngFor="let position of positions" [routerLink]="'/positions-desc-form'">
          <div class="expert-area w-100 border-left">
            <h6>{{ position.name }}</h6>
            <p>{{ position.desc }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid row justify-content-center">
    <div class="col-sm-12 col-lg-8 text-center apply">
      <h3 (click)="show = !show">APPLY NOW</h3>
      <div [ngClass]="{'expand': show}" class="underline mb-0"></div>
    </div>
    <div class="col-sm-12 col-lg-8 mb-5"><iframe [ngClass]="{'expand': show}" class="w-100 form" src="https://docs.google.com/forms/d/e/1FAIpQLSc4-zT3TY7MNTAf5ul0GvkGnG-YtD7SdTixdZlNXKrycxi4Ag/viewform"></iframe></div>
  </div>
